.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.checkbox {
  opacity: 0;
}

.is-disabled {
  cursor: default;
}

.is-on {}

.alignLabel-right {
  flex-direction: row-reverse;
}
